.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  /* transition: visibility .5s,opacity .5s; */
  animation: openModal .1s linear;
  z-index: 10;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .overlayVisible {
  visibility: visible;
  opacity: 1;
} */